<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="GoApplicationRunConfiguration" factoryName="Go Application">
    <module name="go-durak" />
    <working_directory value="$PROJECT_DIR$" />
    <kind value="FILE" />
    <filePath value="cmd/app/main.go" />
    <package value="github.com/jannis-a/go-durak" />
    <directory value="$PROJECT_DIR$/cmd/api" />
    <method v="2" />
  </configuration>
</component>